@using E_recrutement.Models.ViewModels

@model List<CandidatureVM>

@{
    ViewData["Title"] = "My Applications";
}

<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
            My Application History <i class="fas fa-folder-open text-success"></i>
        </h1>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    @foreach (var obj in Model)
                    {
                        <div class="job-item p-4 mb-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid border rounded" src="~/img/@obj.ConcernedOffer.UrlCompanyLogo" alt="company logo" style="width: 80px; height: 80px;">
                                    <div class="text-start ps-4">
                                        <h5 class="mb-3">
                                            @obj.ConcernedOffer.Poste <i class="fas fa-briefcase text-success"></i>
                                        </h5>
                                        <span class="text-truncate me-3">
                                            <i class="fas fa-map-marker-alt text-success"></i> @obj.ConcernedOffer.Location
                                        </span>
                                        <span class="text-truncate me-3">
                                            <i class="fas fa-clock text-success"></i> @obj.ConcernedOffer.Type
                                        </span>
                                        <span class="text-truncate me-0">
                                            <i class="fas fa-dollar-sign text-success"></i> @obj.ConcernedOffer.Remuneration
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    <div class="d-flex mb-3">
                                        <a class="btn btn-success me-2" asp-controller="Offer" asp-route-id="@obj.Apply.Id" asp-action="ConsulterCandidature">
                                            <i class="fas fa-eye text-white"></i> View Application
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>